.button {
	flex: 1;
	line-height: $line-height;
	font-size: 1rem;
	font-family: inherit;
	color: $color-text;
	border: $border;
	border-radius: $border-radius;
	background: transparent;
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 0;
	min-height: 0;
	width: auto;
	padding: .3rem .5rem;
	cursor: pointer;
	text-decoration: none;
	transition:
		border-color ease-out 50ms,
		color ease-out 50ms;
	
	&:focus {
		color: rgba($color-text, $opacity-high);
		border-color: $color-text;
		outline: none;
	}
}