$opacity-high: 87%;
$opacity-medium: 60%;
$opacity-low: 38%;
$color-background: #121212;
$color-surface: #242424;
$color-text: rgb(255, 255, 255, $opacity-medium);
$color-border: #333;
$color-border-active: #494949;
$color-error: #f44442;
$border-radius: 4px;
$border-width: 1px;
$border: $border-width solid $color-border;
$line-height: 1.4;