// .token {
	
// }

.invalid {
	color: $color-error;
}

.number {
	color: #80cbc4;
}

.boolean {
	color: #f48fb1 // #ff9f81;
}

// .operatorNumber {
// 	color: #3f9797;
// }

// .operatorBoolean {
// 	color: #9f5bac;
// }

// .operatorComparison {
// 	color: #687ac8;
// }

